.container_text{
  text-align: center;
}

.skybg{
  font-size: 140px;
  margin: 0;
  font-weight: 900;
  letter-spacing: 20px;
  background:  url(sky.jpg) center no-repeat;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
